@import "settings-tools/_all-settings";

$font-colors: get-token("color", "font");
$alignments: left, center, right;

.mt-text {
    @include set-font-family();

    @each $key, $value in $font-colors {
        &--color-#{$key} {
            @include set-color($key);
        }
    }

    @each $alignment in $alignments {
        &--#{$alignment} {
            text-align: $alignment;
        }
    }

    &--l-l {
        @include set-font-scale("06", "l");
    }

    &--m-l {
        @include set-font-scale("05", "l");
    }

    &--s-l {
        @include set-font-scale("04", "l");
    }

    &--l-m {
        @include set-font-scale("06", "m");
    }

    &--m-m {
        @include set-font-scale("05", "m");
    }

    &--s-m {
        @include set-font-scale("04", "m");
    }

    &--l-s {
        @include set-font-scale("06", "s");
    }

    &--m-s {
        @include set-font-scale("05", "s");
    }

    &--s-s {
        @include set-font-scale("04", "s");
    }

    &--l-xs {
        @include set-font-scale("06", "xs");
    }

    &--m-xs {
        @include set-font-scale("05", "xs");
    }

    &--s-xs {
        @include set-font-scale("04", "xs");
    }

    &--light {
        @include set-font-weight("light");
    }

    &--regular {
        @include set-font-weight("regular");
    }

    &--semi-bold {
        @include set-font-weight("semi-bold");
    }
}
