@import "settings-tools/_all-settings";

@import "components/_c.tabs";

// Custom theme
.mc-tabs--primary-02 {
    .mc-tabs__element:focus,
    .mc-tabs__element:hover,
    .mc-tabs__element--selected {
        color: $color-primary-02-500;
    }

    .mc-tabs__element--selected {
        color: $color-primary-02-500;
        border-bottom-color: $color-primary-02-500;
    }
}

// Custom align
.mc-tabs--full-end {
    justify-content: flex-end;
}
