@import "settings-tools/all-settings";
@import "components/c.radio";
@import "components/c.option-card";

.mc-option-card__indicator--top {
    top: $mu100;
    left: 50%;
    transform: translateX(-50%);
}

.mc-option-card__indicator--top-right {
    top: $mu100;
    right: $mu100;
}

.mc-option-card__indicator--right {
    top: 50% !important;
    transform: translateY(-50%);
    right: $mu100;
}

.mc-option-card__indicator--bottom-right {
    top: auto !important;
    bottom: $mu100;
    right: $mu100;
}

.mc-option-card__indicator--bottom {
    top: auto !important;
    bottom: $mu100;
    left: 50%;
    transform: translateX(-50%);
}

.mc-option-card__indicator--bottom-left {
    top: auto !important;
    bottom: $mu100;
    left: $mu100;
}

.mc-option-card__indicator--left {
    top: 50% !important;
    transform: translateY(-50%);
    left: $mu100;
}

.mc-option-card__indicator--top-left {
    top: $mu100;
    left: $mu100;
}
