@import "settings-tools/_all-settings";

@import "components/_c.modal";

@media screen and (max-width: get-token(screen, m)) {
    .mc-modal__dialog {
        max-height: 100%;
    }
}

.mc-modal__header {
    min-height: $mu350;
}

.mc-modal__close {
    position: absolute;
    top: $mu075;
    right: $mu075;
}

.mc-modal__body {
    display: flex;
}

.mc-modal__content {
    flex-grow: 1;
}
