@import 'settings-tools/_all-settings';

@import 'components/_c.password-input';

.mc-password-input__button {
    font-size: $mu075;
    line-height: 1;

    &:disabled {
        border-color: transparent;
        background-color: $color-button-solid-disabled-background;
        color: $color-button-solid-disabled-font;
        cursor: not-allowed;
    }
}
