@import "settings-tools/all-settings";

.flex-container {
    background-color: $color-success-100;
}

.flex-inner {
    height: $mu500;
    min-width: $mu500;
    background-color: $color-success-400;
    color: $color-success-100;
    text-align: center;
    font-size: $mu200;
    line-height: $mu500;
}
