@import 'settings-tools/_all-settings';

.ml-flex {
    display: flex;

    &--fd {
        &-row {
            flex-direction: row;
        }

        &-row-reverse {
            flex-direction: row-reverse;
        }

        &-column {
            flex-direction: column;
        }

        &-column-reverse {
            flex-direction: column-reverse;
        }
    }

    &--fw {
        &-nowrap {
            flex-wrap: nowrap;
        }

        &-wrap {
            flex-wrap: wrap;
        }

        &-wrap-reverse {
            flex-wrap: wrap-reverse;
        }
    }

    &--jc {
        &-flex-start {
            justify-content: flex-start;
        }

        &-flex-end {
            justify-content: flex-end;
        }

        &-center {
            justify-content: center;
        }

        &-space-between {
            justify-content: space-between;
        }

        &-space-around {
            justify-content: space-around;
        }

        &-space-evenly {
            justify-content: space-evenly;
        }
    }

    &--ac {
        &-flex-start {
            align-content: flex-start;
        }

        &-flex-end {
            align-content: flex-end;
        }

        &-center {
            align-content: center;
        }

        &-space-between {
            align-content: space-between;
        }

        &-space-around {
            align-content: space-around;
        }

        &-space-evenly {
            align-content: space-evenly;
        }

        &-stretch {
            align-content: stretch;
        }
    }

    &--ai {
        &-flex-start {
            align-items: flex-start;
        }

        &-flex-end {
            align-items: flex-end;
        }

        &-center {
            align-items: center;
        }

        &-baseline {
            align-items: baseline;
        }

        &-stretch {
            align-items: stretch;
        }
    }
}
