@import 'settings-tools/_all-settings';

@import "components/c.listbox";

.mc-listbox {
    position: unset !important;
    margin-top: unset !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.mc-listbox__content {
    flex-grow: 1;
    flex-shrink: 1;
}

.mc-listbox__item {
    padding-right: $mu050;
}
