@import 'settings-tools/_all-settings';

@import "components/c.listbox";

.mc-listbox {
    position: unset !important;
    margin-top: unset !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.mc-listbox__content {
    flex-grow: 1;
    flex-shrink: 1;
}

.mc-listbox__item {
    padding-right: $mu050;
}

.mc-listbox__item .mc-checkbox {
    flex: 1;
    padding-right: $mu025;
}

.mc-listbox__item .mc-checkbox__label {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 0.5rem;
    min-height: $mu300;
    margin-left: 0;
    padding-right: $mu050;
}
