@import 'settings-tools/_all-settings';

@import "components/_c.datatable";
@import "components/_c.datatable-tools";
@import "components/_c.datatable-header";
@import "components/_c.datatable-footer";
@import "components/_c.datatable-subtable";

.mc-datatable__main {
    background-color: #ffffff;
}

th,
td {
    &.mc-datatable__cell-number {
        text-align: right !important;
    }
}

.mc-datatable__cell--with-sub-table {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-bottom: none !important;
}
