.tagStoryContainerWhite {
    background-color: #fff;
    padding: 1rem;
}

.tagStoryContainerBlack {
    background-color: #000;
    padding: 1rem;
}

.leftIcon {
    margin-right: 5px;
}

.rightIcon {
    margin-left: 5px;
}
